*{
    scroll-behavior: smooth;
}

@font-face {
    font-family: satauri;
    src: url(../fonts/Starborn.ttf);
}
@font-face {
    font-family: satauri2;
    src: url(../fonts/Starborn.otf);
}
.banner{
    background-color: azure;
    background-image: url(../images/images.jpg);
    height: 400px;
    padding: 200px;
    color: rgb(201, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    background-size: cover;
    font-weight: bold;
    background-attachment: fixed;
     
}

.satauri {
    font-size: 7vw;
    font-family: satauri;
    color: wheat;
}


nav {
    display: flex;
    justify-content: center;
    gap: 5%;
    background-color: aliceblue;
    position: sticky;
    top: 0px;

}
.menu {
    width: 13vw;
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.menu a{
    text-decoration: none;
    font-size: 2vw;
    font-family: satauri2;
    padding: 20px;
    color: black;
}

.menu:hover {
    background-color: bisque;
    
}
.menu a:hover{
    color:red;
}

article {
    display: flex;
    justify-content: center;
    gap: 20%;
    width: 60%;
    margin: auto;
}

.icon {
    text-align: center;
    font-size: 30px;
    color: gold;
}
.qvesatauri {
    text-align: center;
    font-size: 30px;
    color: black;
}

.fullinfo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gray;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 13%;
    width: 80%;
    margin: auto;
    background-color: antiquewhite;
    padding: 100px;
}

.foto {
    background-image: url(../images/images2.jpg);
    background-size: cover;
    padding: 30px;
    width: 200px;
    height: 250px;
    text-align: center;

}

.hide {
    display: none;
}
.foto:hover .hide {
    display: block;
}

.hide{
    font-size: 2vw;
    color: peru;
}

.arrow{
    position: fixed;
    right: 0px;
     bottom: 0px;
}







